<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | {{site.site-title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="{{page-class}}">
    <header>
        A DIFFERENT LAYOUT
        {{>navigation}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        A DIFFERENT LAYOUT
    </footer>
    {{{ cosmia-script }}}
</body>

</html>
